In [38]:
import pandas as pd
import numpy as np

In [39]:
s = pd.date_range('2020-01-06', '2020-01-10',freq ='10H').to_series()

In [40]:
len(s)

10

In [41]:
s

2020-01-06 00:00:00   2020-01-06 00:00:00
2020-01-06 10:00:00   2020-01-06 10:00:00
2020-01-06 20:00:00   2020-01-06 20:00:00
2020-01-07 06:00:00   2020-01-07 06:00:00
2020-01-07 16:00:00   2020-01-07 16:00:00
2020-01-08 02:00:00   2020-01-08 02:00:00
2020-01-08 12:00:00   2020-01-08 12:00:00
2020-01-08 22:00:00   2020-01-08 22:00:00
2020-01-09 08:00:00   2020-01-09 08:00:00
2020-01-09 18:00:00   2020-01-09 18:00:00
Freq: 10H, dtype: datetime64[ns]

In [42]:
features ={
    'dayofweek':s.dt.dayofweek.values,
    'dayofyear':s.dt.dayofyear.values,
    'hour':s.dt.hour.values,
    'is_leap_year':s.dt.is_leap_year.values,
    'quarter':s.dt.quarter.values,
    'weekofyear':s.dt.weekofyear.values
}

/Users/v0m01sk/miniconda3/envs/ml/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  import sys

In [43]:
features

{'dayofweek': array([0, 0, 0, 1, 1, 2, 2, 2, 3, 3]),
 'dayofyear': array([6, 6, 6, 7, 7, 8, 8, 8, 9, 9]),
 'hour': array([ 0, 10, 20,  6, 16,  2, 12, 22,  8, 18]),
 'is_leap_year': array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True]),
 'quarter': array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1]),
 'weekofyear': array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2])}

In [44]:
def generate_features(df):
    
    df.loc[:,'year'] = df['date'].dt.year
    df.loc[:,'weekofyear'] = df['date'].dt.weekofyear
    df.loc[:,'month'] = df['date'].dt.month
    df.loc[:,'dayofweek'] = df['date'].dt.dayofweek
    df.loc[:,'weekend'] =(df['date'].dt.weekday>=5).astype(int)
    
    aggs = {}
    
    aggs['month'] = ['nunique','mean']
    aggs['weekofyear'] = ['nunique','mean']
    
    aggs['num1'] = ['sum','max','min','mean']
    
    aggs['customer_id'] = ['size']
    
    aggs['customer_id'] = ['nunique']
    
    agg_df = df.groupby('customer_id').agg(aggs)
    agg_df = agg_df.reset_index()
    return agg_df

In [45]:
df = pd.read_csv('./data/cat_in_the_dat_2.csv')

In [46]:
df.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,...,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,...,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,...,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,...,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0

In [47]:
df.groupby('ord_2')['month'].agg('unique')

ord_2
Boiling Hot    [3.0, 7.0, 12.0, 4.0, 5.0, 10.0, 8.0, 1.0, nan...
Cold           [12.0, 6.0, 1.0, 8.0, 5.0, 4.0, 7.0, 11.0, 10....
Freezing       [9.0, 5.0, 8.0, 11.0, 3.0, 1.0, 4.0, 6.0, 7.0,...
Hot            [3.0, 4.0, 5.0, 8.0, 11.0, 12.0, nan, 6.0, 2.0...
Lava Hot       [3.0, 8.0, 2.0, 11.0, 7.0, 4.0, 9.0, 6.0, 1.0,...
Warm           [7.0, 5.0, nan, 3.0, 4.0, 12.0, 8.0, 11.0, 6.0...
Name: month, dtype: object

In [48]:
aggs ={}
aggs['day'] = ['unique']
aggs['month'] = ['unique']
aggs['target'] = ['mean']

In [49]:
df.groupby('ord_2').agg(aggs)

,day,month,target
,unique,unique,mean
ord_2,,,
Boiling Hot,"[6.0, 5.0, 2.0, 3.0, 7.0, 1.0, nan, 4.0]","[3.0, 7.0, 12.0, 4.0, 5.0, 10.0, 8.0, 1.0, nan...",0.244003
Cold,"[5.0, 1.0, 7.0, 6.0, 3.0, 2.0, nan, 4.0]","[12.0, 6.0, 1.0, 8.0, 5.0, 4.0, 7.0, 11.0, 10....",0.152205
Freezing,"[5.0, 3.0, 2.0, 7.0, 1.0, nan, 6.0, 4.0]","[9.0, 5.0, 8.0, 11.0, 3.0, 1.0, 4.0, 6.0, 7.0,...",0.132253
Hot,"[6.0, 3.0, 7.0, 2.0, 1.0, nan, 5.0, 4.0]","[3.0, 4.0, 5.0, 8.0, 11.0, 12.0, nan, 6.0, 2.0...",0.205176
Lava Hot,"[3.0, 1.0, 6.0, 5.0, 7.0, 2.0, 4.0, nan]","[3.0, 8.0, 2.0, 11.0, 7.0, 4.0, 9.0, 6.0, 1.0,...",0.290762
Warm,"[7.0, 4.0, 3.0, 5.0, 1.0, 2.0, 6.0, nan]","[7.0, 5.0, nan, 3.0, 4.0, 12.0, 8.0, 11.0, 6.0...",0.175404

In [75]:
x = df.id

In [76]:
feature_dict = {}

feature_dict['mean'] = np.mean(x)

feature_dict['max'] = np.max(x)

feature_dict['min'] = np.min(x)

feature_dict['var'] = np.var(x)

feature_dict['std'] = np.std(x)

feature_dict['ptp'] = np.ptp(x)

feature_dict['percentile_10'] = np.percentile(x,10)
feature_dict['percentile_60'] = np.percentile(x,60)
feature_dict['percentile_90'] = np.percentile(x,90)

feature_dict['quantile_5'] = np.quantile(x,.05)
feature_dict['quantile_95'] = np.quantile(x,.95)
feature_dict['quantile_99'] = np.quantile(x,.99)

In [81]:
from tsfresh.feature_extraction import feature_calculators as fc
feature_dict['abs_energy'] = fc.abs_energy(x)
feature_dict['count_above_mean'] = fc.count_above_mean(x)
feature_dict['count_below_mean'] = fc.count_below_mean(x)
feature_dict['mean_change'] = fc.mean_change(x)
feature_dict['mean_abs_change'] = fc.mean_abs_change(x)

In [82]:
feature_dict

{'mean': 299999.5,
 'max': 599999,
 'min': 0,
 'var': 29999999999.916668,
 'std': 173205.08075664716,
 'ptp': 599999,
 'percentile_10': 59999.9,
 'percentile_60': 359999.39999999997,
 'percentile_90': 539999.1,
 'quantile_5': 29999.95,
 'quantile_95': 569999.0499999999,
 'quantile_99': 593999.01,
 'abs_energy': 71999820000100000,
 'count_above_mean': 300000,
 'count_below_mean': 300000,
 'mean_change': 1.0,
 'mean_abs_change': 1.0}

In [101]:
#polynomial features

import numpy as np

df = pd.DataFrame(
        np.random.rand(100,2),
        columns =[f"f_{i}"for i in range(1,3)])

In [102]:
df.head()

        f_1       f_2
0  0.659842  0.301136
1  0.680350  0.970311
2  0.766441  0.671441
3  0.946670  0.762951
4  0.772258  0.410841

In [104]:
from sklearn import preprocessing

pf = preprocessing.PolynomialFeatures(
        degree = 2,
        interaction_only = False,
        include_bias = False)

pf.fit(df)
poly_feats = pf.transform(df)

num_feats = poly_feats.shape[1]

df_transformed = pd.DataFrame(
                    poly_feats,
                    columns = [f"f_{i}" for i in range(1,num_feats+1)])

df_transformed.head()

        f_1       f_2       f_3       f_4       f_5
0  0.659842  0.301136  0.435392  0.198702  0.090683
1  0.680350  0.970311  0.462877  0.660152  0.941504
2  0.766441  0.671441  0.587432  0.514620  0.450833
3  0.946670  0.762951  0.896184  0.722263  0.582094
4  0.772258  0.410841  0.596383  0.317276  0.168791

In [105]:
df.head()

        f_1       f_2
0  0.659842  0.301136
1  0.680350  0.970311
2  0.766441  0.671441
3  0.946670  0.762951
4  0.772258  0.410841

In [116]:
##binning
df['f_bin_10'] = pd.cut(df['f_1'], bins = 10, labels = False )
df['f_bin_100'] = pd.cut(df['f_1'], bins = 100, labels = False )

In [118]:
df.head()

        f_1       f_2  f_bin_10  f_bin_100
0  0.659842  0.301136         6         67
1  0.680350  0.970311         7         70
2  0.766441  0.671441         7         79
3  0.946670  0.762951         9         98
4  0.772258  0.410841         7         79

In [137]:
#FILLING MISSING VALUES WITH K NEAREST NEIGHBOUR

import numpy as np
from sklearn import impute


X = np.random.randint(1,15,(10,6))
X = X.astype(float)


X.ravel()[np.random.choice(X.size,10,replace = False)] = np.nan

In [138]:
X

array([[10.,  2., 11., nan, nan,  3.],
       [ 8.,  1.,  1.,  1.,  5., 12.],
       [nan,  8.,  5., 11., nan,  3.],
       [nan,  6., 10.,  2.,  5.,  9.],
       [ 5., nan,  2.,  6., 14., nan],
       [ 5.,  2.,  8.,  2.,  1.,  9.],
       [ 1.,  1.,  5.,  1., 11.,  6.],
       [ 6., nan,  9.,  8., 11.,  8.],
       [ 1.,  9.,  9., 11., nan,  5.],
       [ 8.,  9.,  7.,  4., 12., nan]])

In [141]:
knn_imputer = impute.KNNImputer(n_neighbors = 2)
knn_imputer.fit_transform(X)

array([[10. ,  2. , 11. ,  5. ,  6. ,  3. ],
       [ 8. ,  1. ,  1. ,  1. ,  5. , 12. ],
       [ 3.5,  8. ,  5. , 11. , 12.5,  3. ],
       [ 7.5,  6. , 10. ,  2. ,  5. ,  9. ],
       [ 5. ,  5. ,  2. ,  6. , 14. ,  7. ],
       [ 5. ,  2. ,  8. ,  2. ,  1. ,  9. ],
       [ 1. ,  1. ,  5. ,  1. , 11. ,  6. ],
       [ 6. ,  9. ,  9. ,  8. , 11. ,  8. ],
       [ 1. ,  9. ,  9. , 11. , 11.5,  5. ],
       [ 8. ,  9. ,  7. ,  4. , 12. ,  8.5]])