In [129]:
import pandas as pd

In [130]:
df = pd.read_csv('./data/cat_in_the_dat_2.csv')
df = df.drop('id',axis = 1)

In [131]:
df.head(5)

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,Bassoon,...,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,Theremin,...,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,Bassoon,...,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0
3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,Theremin,...,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0
4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,NaN,...,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0

In [4]:
df.target.value_counts()

0    487677
1    112323
Name: target, dtype: int64

In [5]:
df.columns

Index(['bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4', 'nom_0', 'nom_1', 'nom_2',
       'nom_3', 'nom_4', 'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9', 'ord_0',
       'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5', 'day', 'month', 'target'],
      dtype='object')

In [6]:
df.ord_2.value_counts()

Freezing       142726
Warm           124239
Cold            97822
Boiling Hot     84790
Hot             67508
Lava Hot        64840
Name: ord_2, dtype: int64

In [7]:
mapping = {
"Freezing": 0, "Warm": 1, "Cold": 2, "Boiling Hot": 3, "Hot": 4,
"Lava Hot": 5 }

In [8]:
df.loc[:,'ord_2'] = df.ord_2.map(mapping)

In [9]:
df.ord_2.value_counts()

0.0    142726
1.0    124239
2.0     97822
3.0     84790
4.0     67508
5.0     64840
Name: ord_2, dtype: int64

In [10]:
from sklearn import preprocessing

df = pd.read_csv('./data/cat_in_the_dat_2.csv')
df.loc[:,'ord_2'] = df.ord_2.fillna('NONE')
lbl_enc = preprocessing.LabelEncoder()

df.loc[:,'ord_2'] = lbl_enc.fit_transform(df.ord_2.values)

In [11]:
import numpy as np

example = np.array([
    [0,0,1],
    [1,0,0],
    [1,0,1]
])

print(example.nbytes)

72

In [12]:
import numpy as np
from scipy import sparse

example = np.array([
    [0,0,1],
    [1,0,0],
    [1,0,1]
])

print(example.nbytes)

sparse_example = sparse.csr_matrix(example)

print(sparse_example.data.nbytes)

print(
    sparse_example.data.nbytes+
    sparse_example.indptr.nbytes+
    sparse_example.indices.nbytes)

72
32
64

In [13]:
import numpy as np
from scipy import sparse

example = np.array([
    [0, 0, 0, 0, 1, 0], 
    [0, 1, 0, 0, 0, 0],
    [1, 0, 0, 0, 0, 0]
])

print(example.nbytes)

sparse_example = sparse.csr_matrix(example)

print(sparse_example.data.nbytes)

print(
    sparse_example.data.nbytes+
    sparse_example.indptr.nbytes+
    sparse_example.indices.nbytes)

144
24
52

In [14]:
import numpy as np
from scipy import sparse

n_rows = 10000
n_cols = 100000

example = np.random.binomial(1,p=0.05,size = (n_rows,n_cols))

print(f'size of dense array : {example.nbytes}')

sparse_example = sparse.csr_matrix(example)

print(f"size of sparse array : {sparse_example.data.nbytes}")

full_size = {
    sparse_example.data.nbytes + 
    sparse_example.indptr.nbytes +
    sparse_example.indices.nbytes
}

print(f"full size of sparse array : {full_size}")

size of dense array : 8000000000
size of sparse array : 399931000
full size of sparse array : {599936504}

In [15]:
import numpy as np
from sklearn import preprocessing

# create random 1-d array with 1001 different categories (int)
example = np.random.randint(1000, size=1000000)

ohe = preprocessing.OneHotEncoder(sparse = False)

ohe_example = ohe.fit_transform(example.reshape(-1,1))

print(f'size of dense array: {ohe_example.nbytes}')

ohe = preprocessing.OneHotEncoder(sparse = True)

ohe_example = ohe.fit_transform(example.reshape(-1,1))

print(f'size of dense array: {ohe_example.data.nbytes}')

full_size = {
    ohe_example.data.nbytes + 
    ohe_example.indptr.nbytes +
    ohe_example.indices.nbytes
}

print(f"full size of sparse array : {full_size}")

size of dense array: 8000000000
size of dense array: 8000000
full size of sparse array : {16000004}

## handling categorical variables

In [50]:
df = pd.read_csv('./data/cat_in_the_dat_2.csv')

In [51]:
df.groupby(['ord_2'])['id'].count()

ord_2
Boiling Hot     84790
Cold            97822
Freezing       142726
Hot             67508
Lava Hot        64840
Warm           124239
Name: id, dtype: int64

In [52]:
#one way to replace ord_2 column
df.groupby(['ord_2'])['id'].transform('count')

0          67508.0
1         124239.0
2         142726.0
3          64840.0
4          97822.0
            ...
599995    142726.0
599996     84790.0
599997    142726.0
599998    124239.0
599999     84790.0
Name: id, Length: 600000, dtype: float64

In [53]:
df.groupby([
    'ord_1',
    'ord_2'
])['id'].count().reset_index(name = 'count').head()

         ord_1        ord_2  count
0  Contributor  Boiling Hot  15634
1  Contributor         Cold  17734
2  Contributor     Freezing  26082
3  Contributor          Hot  12428
4  Contributor     Lava Hot  11919

In [54]:
df.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,...,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,...,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,...,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,...,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0

In [55]:
df['new_feature'] = (
    df.ord_1.astype(str)
    + "_"
    + df.ord_2.astype(str)
    + "_"
    + df.ord_3.astype(str))
df.new_feature

0                 Contributor_Hot_c
1                Grandmaster_Warm_e
2                    nan_Freezing_n
3                 Novice_Lava Hot_a
4                Grandmaster_Cold_h
                    ...
599995            Novice_Freezing_a
599996         Novice_Boiling Hot_n
599997       Contributor_Freezing_n
599998                Master_Warm_m
599999    Contributor_Boiling Hot_b
Name: new_feature, Length: 600000, dtype: object

In [56]:
df.ord_2.value_counts()

Freezing       142726
Warm           124239
Cold            97822
Boiling Hot     84790
Hot             67508
Lava Hot        64840
Name: ord_2, dtype: int64

In [57]:
df.ord_2.isnull().sum()

18075

In [58]:
df.ord_2.fillna('NONE').value_counts()

Freezing       142726
Warm           124239
Cold            97822
Boiling Hot     84790
Hot             67508
Lava Hot        64840
NONE            18075
Name: ord_2, dtype: int64

In [59]:
df.ord_4.fillna('NONE').value_counts()

N       39978
P       37890
Y       36657
A       36633
R       33045
U       32897
M       32504
X       32347
C       32112
H       31189
Q       30145
T       29723
O       25610
B       25212
E       21871
K       21676
I       19805
NONE    17930
D       17284
F       16721
W        8268
Z        5790
S        4595
G        3404
V        3107
J        1950
L        1657
Name: ord_4, dtype: int64

In [61]:
#if value less than 2k let us consider rare

df.ord_4 = df.ord_4.fillna("NONE")

In [75]:
df.loc[df['ord_4'].value_counts()[df['ord_4']].values < 2000 ,'ord_4'] ='RARE'

In [76]:
df.ord_4.value_counts()

N       39978
P       37890
Y       36657
A       36633
R       33045
U       32897
M       32504
X       32347
C       32112
H       31189
Q       30145
T       29723
O       25610
B       25212
E       21871
K       21676
I       19805
NONE    17930
D       17284
F       16721
W        8268
Z        5790
S        4595
RARE     3607
G        3404
V        3107
Name: ord_4, dtype: int64

In [83]:
#checking folds

df = pd.read_csv('./data/cat_train_folds.csv')

In [84]:
df.kfold.value_counts()

0    120000
1    120000
2    120000
3    120000
4    120000
Name: kfold, dtype: int64

In [85]:
for i in range(0,5):
    print(df[df.kfold==i].target.value_counts())

0    97536
1    22464
Name: target, dtype: int64
0    97536
1    22464
Name: target, dtype: int64
0    97535
1    22465
Name: target, dtype: int64
0    97535
1    22465
Name: target, dtype: int64
0    97535
1    22465
Name: target, dtype: int64

In [90]:
import pandas as pd

df = pd.read_csv('./data/adult.csv')

In [91]:
df.income.isnull().sum()

0

In [92]:
df.income.value_counts()

<=50K    24720
>50K      7841
Name: income, dtype: int64

In [93]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [94]:
import itertools

In [100]:
list(itertools.combinations([1,2,3],2))

[(1, 2), (1, 3), (2, 3)]

In [98]:
list(itertools.permutations([1,2,3],2))

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [ ]:
### need to check this

In [103]:
import os
import gc
import joblib
import pandas as pd
import numpy as np
from sklearn import metrics,preprocessing
from tensorflow.keras import layers
from tensorflow.keras import optimizers
from tensorflow.keras.models import Model, load_model
from tensorflow.keras import callbacks
from tensorflow.keras import backend as K
from tensorflow.keras import utils

In [127]:
def create_model(data,catcols):
    
    inputs = []
    outputs = []
    
    for c in catcols:
        
        num_unique_values = int(data[c].nunique())
        
        embed_dim = int(min(np.ceil((num_unique_values/2)),50))
        
        inp = layers.Input(shape = (1,))
        
        out = layers.Embedding(num_unique_values+1,embed_dim,name = c)(inp)
        
        out = layers.SpatialDropout1D(0.3)(out)
        
        out = layers.Reshape(target_shape = (embed_dim,))(out)
        
        inputs.append(inp)
        outputs.append(out)
        print(outputs)
    x = layers.Concatenate(outputs)
    
    x = layers.BatchNormalization()(x)
    
    x = layers.Dense(300,activation = 'relu')(x)
    x = layers.Dropout(0.3)(x)
    x = layers.BatchNormalization()(x)
    
    x = layers.Dense(300,activation = 'relu')(x)
    x = layers.Dropout(0.3)(x)
    x = layers.BatchNormalization()(x)
    
    y = layers.Dense(2,activation = 'softmax')(x)
    
    model = Model(inputs = inputs, outputs = y)
    
    model.compile(loss = 'binary_crossentropy',optimizer = 'adam')
    return model

In [128]:
df = pd.read_csv('./data/adult_folds.csv')

features = [
f for f in df.columns if f not in ("kfold", "id","target")
]

for col in features:
    df.loc[:,col] = df[col].astype(str).fillna('NONE')

for feat in features:
    lbl_enc = preprocessing.LabelEncoder()
    df.loc[:, feat] = lbl_enc.fit_transform(df[feat].values)    

df_train = df[df.kfold != 1].reset_index(drop = True)

df_valid = df[df.kfold == 1].reset_index(drop = True)

model = create_model(df,features)

[<tf.Tensor 'reshape_120/Identity:0' shape=(None, 37) dtype=float32>]
[<tf.Tensor 'reshape_120/Identity:0' shape=(None, 37) dtype=float32>, <tf.Tensor 'reshape_121/Identity:0' shape=(None, 5) dtype=float32>]
[<tf.Tensor 'reshape_120/Identity:0' shape=(None, 37) dtype=float32>, <tf.Tensor 'reshape_121/Identity:0' shape=(None, 5) dtype=float32>, <tf.Tensor 'reshape_122/Identity:0' shape=(None, 50) dtype=float32>]
[<tf.Tensor 'reshape_120/Identity:0' shape=(None, 37) dtype=float32>, <tf.Tensor 'reshape_121/Identity:0' shape=(None, 5) dtype=float32>, <tf.Tensor 'reshape_122/Identity:0' shape=(None, 50) dtype=float32>, <tf.Tensor 'reshape_123/Identity:0' shape=(None, 8) dtype=float32>]
[<tf.Tensor 'reshape_120/Identity:0' shape=(None, 37) dtype=float32>, <tf.Tensor 'reshape_121/Identity:0' shape=(None, 5) dtype=float32>, <tf.Tensor 'reshape_122/Identity:0' shape=(None, 50) dtype=float32>, <tf.Tensor 'reshape_123/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_124/Identity:0' shape=(None, 8) dtype=float32>]
[<tf.Tensor 'reshape_120/Identity:0' shape=(None, 37) dtype=float32>, <tf.Tensor 'reshape_121/Identity:0' shape=(None, 5) dtype=float32>, <tf.Tensor 'reshape_122/Identity:0' shape=(None, 50) dtype=float32>, <tf.Tensor 'reshape_123/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_124/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_125/Identity:0' shape=(None, 4) dtype=float32>]
[<tf.Tensor 'reshape_120/Identity:0' shape=(None, 37) dtype=float32>, <tf.Tensor 'reshape_121/Identity:0' shape=(None, 5) dtype=float32>, <tf.Tensor 'reshape_122/Identity:0' shape=(None, 50) dtype=float32>, <tf.Tensor 'reshape_123/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_124/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_125/Identity:0' shape=(None, 4) dtype=float32>, <tf.Tensor 'reshape_126/Identity:0' shape=(None, 8) dtype=float32>]
[<tf.Tensor 'reshape_120/Identity:0' shape=(None, 37) dtype=float32>, <tf.Tensor 'reshape_121/Identity:0' shape=(None, 5) dtype=float32>, <tf.Tensor 'reshape_122/Identity:0' shape=(None, 50) dtype=float32>, <tf.Tensor 'reshape_123/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_124/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_125/Identity:0' shape=(None, 4) dtype=float32>, <tf.Tensor 'reshape_126/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_127/Identity:0' shape=(None, 3) dtype=float32>]
[<tf.Tensor 'reshape_120/Identity:0' shape=(None, 37) dtype=float32>, <tf.Tensor 'reshape_121/Identity:0' shape=(None, 5) dtype=float32>, <tf.Tensor 'reshape_122/Identity:0' shape=(None, 50) dtype=float32>, <tf.Tensor 'reshape_123/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_124/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_125/Identity:0' shape=(None, 4) dtype=float32>, <tf.Tensor 'reshape_126/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_127/Identity:0' shape=(None, 3) dtype=float32>, <tf.Tensor 'reshape_128/Identity:0' shape=(None, 3) dtype=float32>]
[<tf.Tensor 'reshape_120/Identity:0' shape=(None, 37) dtype=float32>, <tf.Tensor 'reshape_121/Identity:0' shape=(None, 5) dtype=float32>, <tf.Tensor 'reshape_122/Identity:0' shape=(None, 50) dtype=float32>, <tf.Tensor 'reshape_123/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_124/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_125/Identity:0' shape=(None, 4) dtype=float32>, <tf.Tensor 'reshape_126/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_127/Identity:0' shape=(None, 3) dtype=float32>, <tf.Tensor 'reshape_128/Identity:0' shape=(None, 3) dtype=float32>, <tf.Tensor 'reshape_129/Identity:0' shape=(None, 1) dtype=float32>]
[<tf.Tensor 'reshape_120/Identity:0' shape=(None, 37) dtype=float32>, <tf.Tensor 'reshape_121/Identity:0' shape=(None, 5) dtype=float32>, <tf.Tensor 'reshape_122/Identity:0' shape=(None, 50) dtype=float32>, <tf.Tensor 'reshape_123/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_124/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_125/Identity:0' shape=(None, 4) dtype=float32>, <tf.Tensor 'reshape_126/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_127/Identity:0' shape=(None, 3) dtype=float32>, <tf.Tensor 'reshape_128/Identity:0' shape=(None, 3) dtype=float32>, <tf.Tensor 'reshape_129/Identity:0' shape=(None, 1) dtype=float32>, <tf.Tensor 'reshape_130/Identity:0' shape=(None, 50) dtype=float32>]
[<tf.Tensor 'reshape_120/Identity:0' shape=(None, 37) dtype=float32>, <tf.Tensor 'reshape_121/Identity:0' shape=(None, 5) dtype=float32>, <tf.Tensor 'reshape_122/Identity:0' shape=(None, 50) dtype=float32>, <tf.Tensor 'reshape_123/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_124/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_125/Identity:0' shape=(None, 4) dtype=float32>, <tf.Tensor 'reshape_126/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_127/Identity:0' shape=(None, 3) dtype=float32>, <tf.Tensor 'reshape_128/Identity:0' shape=(None, 3) dtype=float32>, <tf.Tensor 'reshape_129/Identity:0' shape=(None, 1) dtype=float32>, <tf.Tensor 'reshape_130/Identity:0' shape=(None, 50) dtype=float32>, <tf.Tensor 'reshape_131/Identity:0' shape=(None, 46) dtype=float32>]
[<tf.Tensor 'reshape_120/Identity:0' shape=(None, 37) dtype=float32>, <tf.Tensor 'reshape_121/Identity:0' shape=(None, 5) dtype=float32>, <tf.Tensor 'reshape_122/Identity:0' shape=(None, 50) dtype=float32>, <tf.Tensor 'reshape_123/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_124/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_125/Identity:0' shape=(None, 4) dtype=float32>, <tf.Tensor 'reshape_126/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_127/Identity:0' shape=(None, 3) dtype=float32>, <tf.Tensor 'reshape_128/Identity:0' shape=(None, 3) dtype=float32>, <tf.Tensor 'reshape_129/Identity:0' shape=(None, 1) dtype=float32>, <tf.Tensor 'reshape_130/Identity:0' shape=(None, 50) dtype=float32>, <tf.Tensor 'reshape_131/Identity:0' shape=(None, 46) dtype=float32>, <tf.Tensor 'reshape_132/Identity:0' shape=(None, 47) dtype=float32>]
[<tf.Tensor 'reshape_120/Identity:0' shape=(None, 37) dtype=float32>, <tf.Tensor 'reshape_121/Identity:0' shape=(None, 5) dtype=float32>, <tf.Tensor 'reshape_122/Identity:0' shape=(None, 50) dtype=float32>, <tf.Tensor 'reshape_123/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_124/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_125/Identity:0' shape=(None, 4) dtype=float32>, <tf.Tensor 'reshape_126/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_127/Identity:0' shape=(None, 3) dtype=float32>, <tf.Tensor 'reshape_128/Identity:0' shape=(None, 3) dtype=float32>, <tf.Tensor 'reshape_129/Identity:0' shape=(None, 1) dtype=float32>, <tf.Tensor 'reshape_130/Identity:0' shape=(None, 50) dtype=float32>, <tf.Tensor 'reshape_131/Identity:0' shape=(None, 46) dtype=float32>, <tf.Tensor 'reshape_132/Identity:0' shape=(None, 47) dtype=float32>, <tf.Tensor 'reshape_133/Identity:0' shape=(None, 21) dtype=float32>]
[<tf.Tensor 'reshape_120/Identity:0' shape=(None, 37) dtype=float32>, <tf.Tensor 'reshape_121/Identity:0' shape=(None, 5) dtype=float32>, <tf.Tensor 'reshape_122/Identity:0' shape=(None, 50) dtype=float32>, <tf.Tensor 'reshape_123/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_124/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_125/Identity:0' shape=(None, 4) dtype=float32>, <tf.Tensor 'reshape_126/Identity:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_127/Identity:0' shape=(None, 3) dtype=float32>, <tf.Tensor 'reshape_128/Identity:0' shape=(None, 3) dtype=float32>, <tf.Tensor 'reshape_129/Identity:0' shape=(None, 1) dtype=float32>, <tf.Tensor 'reshape_130/Identity:0' shape=(None, 50) dtype=float32>, <tf.Tensor 'reshape_131/Identity:0' shape=(None, 46) dtype=float32>, <tf.Tensor 'reshape_132/Identity:0' shape=(None, 47) dtype=float32>, <tf.Tensor 'reshape_133/Identity:0' shape=(None, 21) dtype=float32>, <tf.Tensor 'reshape_134/Identity:0' shape=(None, 1) dtype=float32>]

ValueError: ('Input has undefined rank:', TensorShape(None))

In [108]:
num_unique_values =1000

In [109]:
int(min(np.ceil((num_unique_values/2)),50))

50